// Fullscreen Module
// thanks to Philip Walton's Solved by Flexbox (https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.fs-container {
	display: flex;
	min-height: 100vh;
	width: 100%;
	flex-direction: column;

	.fs-content {
		flex: 1;
		text-align: center;
	}

	.fs-header {
		
	}

	.fs-footer {
		
	}
}