// Navigation Module
// Breakpoint of 40em corresponds to the one set in responsive-nav.css (in Node Modules)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.nav {
	text-align: left;
	text-align: center;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: block;

			@media screen and (min-width: 40em) {
				display: inline;
			}
		}
	}

	a {
		display: inline-block;
		border-bottom: 3px solid transparent;
		margin: 0;

		@media screen and (min-width: 40em) {
				margin: 0.3rem 0.5rem;
			}

		&:hover {
			border-bottom: 3px solid $secondary-color;
		}

		&.active {
			border-bottom: 3px solid $primary-color;
		}
	}
}

// Responsive Nav specific styles (https://github.com/viljamis/responsive-nav.js)

.nav-toggle {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
	text-transform: uppercase;
	border-bottom: none;

	&:hover {
		border-bottom: none;
	}

	&.active {
		opacity: 0.8;
	}
}