// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

// Aligner Utility
// thanks to Philip Walton's Solved by Flexbox (https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.u-aligner-item {
	max-width: 100%;
}

.u-aligner-item-top {
	@extend .u-aligner-item;
	align-self: flex-start;
}

.u-aligner-item-bottom {
	@extend .u-aligner-item;
	align-self: flex-end;
}