// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$beige: #F4F1DE !default;
$green-sheen: #81B29A !default;
$light-grey: #e1e1e1 !default;
$dark-liver: #54494B !default;
$terra-cotta: #E07A5F !default;
$dark-grey: #333 !default;
$peach-orange: #F2CC8F !default;

$primary-color: $terra-cotta !default;
$secondary-color: $peach-orange !default;
$background-color: #fff;

$border-color: $dark-liver !default;
$link-color: rgb(50, 50, 50) !default;
$font-color: rgb(50, 50, 50) !default;

// Typography
//$serif: 'Georgia', serif;
$sans-serif: 'Tenor Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$highlight-font: 'Archivo Black', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family: $sans-serif !default; // Standard font family

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
